
{% block body %}

<div class="container"> <div class="card"> <div class="form"> <div class="left-side"> <span></span> 
<span></span> <span></span> <span></span> </div> <div class="right-side">

{% if error %}
<div class="wrapper">
    <div class="toast error">
        <div class="outer-container">
            <i class="fas fa-times-circle"></i>
        </div>
        <div class="inner-container">
            <p>Error</p>
            <p>Error has occured while saving changes.</p>
        </div>
        <button class="close-toast">&times;</button> <!-- Add the class here -->
    </div>
</div>
{% endif %}

<form action="{{ path('security.login') }}" method="post">
<div class="signin_form s_form "> <div class="login"> <h2>User Login</h2>
 </div> <div class="input_text"> 
 <input type="email" placeholder="Username" id="email" name="email" value="{{ last_email }}"> <i class="fa fa-user">
 </i> </div> 
 <div class="input_text">
  <input class="signin_pass" type="password" name="mdp" placeholder="Password" id="mdp"> 
 <i class="fa fa-lock"></i> <i class="fa fa-eye-slash"></i> 
 </div> 
 <div class="login_btn"> 
 <button class="login_button">LOGIN</button> </div> <div class="forgot"> <p>Forgot <a href="#">Adresse email</a>
  <a href="#">Mot de passe</a> ?</p> </div> <div class="create margin"> 
  <a href="#" class="create_acc">Create your Account 
  <i class="fa fa-long-arrow-right"></i></a> 
  </div> </div> 
  </form>

   
{% block stylesheets %}
   <link href="{{asset('base/toast.css')}}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
     <link href="{{asset('base/connexion.css')}}" rel="stylesheet">
{% endblock %}


{% block javascripts %}
<script src="{{asset('base/toast.js')}}"></script>
<script src="{{asset('base/connexion.js')}}"></script>
{% endblock %}


{% endblock %}
