{% block body %}

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">S’inscrire</h2>
                <p>C’est rapide et facile.</p>
{{ form_start(form, {'attr': {'id': 'msform', 'novalidate': 'novalidate'}}) }}
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Compte</strong></li>
                        <li id="personal"><strong>Personnel</strong></li>
                        <li id="payment"><strong>Image</strong></li>
                        <li id="confirm"><strong>Terminé</strong></li>
                    </ul>
                    <div class="progress">
                    	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                	</div>
                    <br>
                    <!-- fieldsets -->
                    
                    <fieldset>
                        <div class="form-card">
                        	<div class="row">
                        		<div class="col-7">
                            		<h2 class="fs-title">Information sur le compte:</h2>
                            	</div>
                            	<div class="col-5">
                            		<h2 class="steps">Etape 1 - 4</h2>
                            	</div>
                            </div>
                            {{ form_row(form.email, {'attr': {'placeholder': 'Entrez votre adresse e-mail'}}) }}
      {{ form_row(form.mdp.first, {'attr': {'placeholder': 'Entrez votre mot de passe'}}) }}
      
{{ form_row(form.mdp.second, {'attr': {'placeholder': 'Confirmer votre mot de passe'}}) }}

                        </div>
  <input type="button" name="next" class="next action-button" value="Suivant"/>
                                        </fieldset>
                    
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                        		<div class="col-7">
                            		<h2 class="fs-title">Informations personnelles :</h2>
                            	</div>
                            	<div class="col-5">
                            		<h2 class="steps">Etape 2 - 4</h2>
                            	</div>
                            </div>
                          
{{ form_row(form.nom, {'attr': {'placeholder': 'Entrez votre nom'}}) }}
        {{ form_row(form.prenom, {'attr': {'placeholder': 'Entrez votre prénom'}}) }}
        {{ form_row(form.ville, {'attr': {'placeholder': 'Entrez votre ville'}}) }}
{{ form_row(form.tel, {'attr': {'placeholder': 'Entrez votre numéro de téléphone', 'class': 'votre-classe-css'}}) }}
{{ form_row(form.genre, {'attr': {'class': 'votre-classe-css'}}) }}
                        </div>
  <input type="button" name="next" class="next action-button" value="Suivant"/>
                                         <input type="button" name="previous" class="previous action-button-previous" value="Précédent"/>
                    </fieldset>
                    
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                        		<div class="col-7">
                            		<h2 class="fs-title">Téléchargement d'image:</h2>
                            	</div>
                            	<div class="col-5">
                            		<h2 class="steps">Etape 3 - 4</h2>
                            	</div>
                            </div>
                             {{ form_row(form.image) }}
      
                            <label class="fieldlabels">Code de validation</label>
<input type="text" name="validation_code" placeholder="Entrez votre code de validation">
                        </div>
{{ form_widget(form.Suivant, {'attr': {'class': 'next action-button'}}) }}

                        <input type="button" name="previous" class="previous action-button-previous" value="Précédent"/>
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                        	<div class="row">
                        		<div class="col-7">
                            		<h2 class="fs-title">Terminé:</h2>
                            	</div>
                            	<div class="col-5">
                            		<h2 class="steps">Etape 4 - 4</h2>
                            	</div>
                            </div>
                            <br><br>
                            <h2 class="purple-text text-center"><strong>SUCCÈS !</strong></h2>
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    
                                </div>
                            </div>
                            <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">Vous vous êtes inscrit avec succès</h5>
                                </div>
                            </div>
                        </div>
                      
                    </fieldset>
               {{ form_end(form) }}
            </div>
        </div>
	</div>
</div>


{% block stylesheets %}

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
  

<link href="{{asset('base/inscription.css')}}" rel="stylesheet">
{% endblock %}


{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{asset('base/inscription.js')}}"></script>

{% endblock %}

{% endblock %}