{% extends 'base-front.html.twig' %}

{% block body %}
<link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Liste des groupes</h2>
                </div>
            </div>
           
        </div>
    </div>
</div>
</br>
</br>
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                {% for groupe in groupe %}
                    <div class="col-lg-6 mb-4"> {# Ajoutez la classe mb-4 pour ajouter de la marge en bas #}
                        <div class="product__details__img">
                            <div class="product__details__big__img">
                                <img class="big_img" src="{{ asset('uploads/' ~ groupe.image) }}" alt="{{ groupe.nom }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4"> {# Ajoutez la classe mb-4 pour ajouter de la marge en bas #}
                        <div class="product__details__text">
                            <h4>{{ groupe.nom }}</h4>
                            <p>{{ groupe.description }}</p>
                            <ul>
                                <li><strong>Description:</strong> {{ groupe.description }}</li>
                                <li><strong>Type de groupe:</strong> {{ groupe.typegroupe }}</li>
                            </ul>
                            <div class="product__details__option">
                                <!-- Ajoutez ici d'autres options ou actions -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
