
{% extends 'base-front.html.twig' %}
{%block title %} LISTE SEANCES  {% endblock %}
{% block body %}
{% if seances %}
<table border="3" id="Seance" class="table table-striped">
    <tr>
        <td>id</td>
        <td>titre</td>
        <td>duree</td>
        <td>lien</td>
        <td>mot de passe </td>
         <td>type seance </td>
        <td>Modifier</td>
        <td>Supprimer</td>


    </tr>
    {% for i in seances %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.titre}}</td>
        <td>{{i.duree|date('i:s') }}</td>
        <td>{{i.lien}}</td>
        <td>{{i.motdepasse}}</td>
         <td>{{i.typeSeance}}</td>
         
         <td><a href="{{path('app_editSeance',{'id':i.id})}}"class="btn btn-dark">Modifier</a></td>
          <td><a href="{{path('app_deleteSeance',{'id':i.id})}}"class="btn btn-dark">Supprimer</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>Aucun Séance</p>
  {% endif %} 
<a href="{{path('app_AddSeance')}}"class="btn btn-dark">AJOUTER</a>
{% endblock %}