{% extends 'base-back.html.twig' %}
{% block body %}
{% block title %}{% endblock %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Liste des utilisateurs</h4>
    </div>
    <div class="card-body">
            <a href="{{ path('addUtilisateur') }}" class="btn btn-primary">Ajouter un utilisateur</a>

        <div class="table-responsive">
            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Email</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Ville</th>
                        <th>Numero telephone</th>
                        <th>Genre</th>
                        <th>Role</th>
                        <th>Etat compte</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for u in user %}
                    <tr>
             <td>
    {% if u.image %}
        <img src="{{ vich_uploader_asset(u, 'imageFile') }}" alt="Image de l'utilisateur" class="rounded-circle" style="width: 60px; height: 60px;">
    {% else %}
        <span>Aucune image disponible</span>
    {% endif %}
</td>
                        <td>{{ u.email }}</td>
                        <td>{{ u.nom }}</td>
                        <td>{{ u.prenom }}</td>
                        <td>{{ u.ville }}</td>
                        <td>{{ u.tel }}</td>
                        <td>{{ u.genre }}</td>
                        <td>{% if u.role %}{{ u.role.NomRole }}{% else %}No Role{% endif %}</td>

    <!-- Autres colonnes de la table -->
    <td>
        {% if u.isActive() %}
            <a href="{{ path('etatCompte', {'id': u.id, 'action': 'disable'}) }}" class="btn btn-danger">Désactiver</a>
        {% else %}
            <a href="{{ path('etatCompte', {'id': u.id, 'action': 'enable'}) }}" class="btn btn-success">Activer</a>
        {% endif %}
    </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



  {% endblock %}
