{% extends 'base-back.html.twig' %}
{%block title %} MODIFIER TYPE SEANCE  {% endblock %}
{% block body %}

<h1>Modifier le type de séance </h1>

{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }} 
<table>
<tr>
    <td>{{ form_label(form.nom_type,"Nom de type") }}</td>
    <td>{{ form_widget(form.nom_type) }}</td>
    <td>{{ form_errors(form.nom_type) }}</td>

</tr>
</table>

{{ form_widget(form.Ajouter)}}
{{ form_end(form) }}
{% endblock %}

