{% extends 'base-back.html.twig' %}
{% block body %}
<head>

    <style>
     .button {
            background-color: #4CAF50; /* couleur de fond */
            border: none; /* suppression de la bordure */
            color: white; /* couleur du texte */
            padding: 15px 32px; /* espace de remplissage */
            text-align: center; /* alignement du texte */
            text-decoration: none; /* suppression de la décoration du texte */
            display: inline-block; /* affichage en ligne */
            font-size: 16px; /* taille de la police */
            margin: 4px 2px; /* marge extérieure */
            cursor: pointer; /* curseur de souris */
            border-radius: 10px; /* arrondi des coins */
        }
</style>
</head>
<body>
    <button class="button"><a href="{{ path('addressource')}}">Ajouter Ressource</a></button>
    {% block title %}{% endblock %}
</button>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Liste des Ressources</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th>identifiant Ressource</th>
                        <th>Titre</th>
                        <th>Type</th>
                                                <th>Description</th>

                        <th>Url</th>
                        <th>Modification</th>
                        <th>Supprision</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ressource in ressource %}
                    <tr>
                        <td>{{ ressource.id }}</td>
                        <td>{{ ressource.TitreR }}</td>
                        <td>{{ ressource.TypeR }}</td>
                        <td>{{ ressource.description }}</td>
                        <td>{{ ressource.url }}</td>
                        <td><span class="badge badge-primary"><a href="{{ path('editressource', {'id': ressource.id}) }}">Modifier</a></span></td>
                        <td><span class="badge badge-danger"><a href="{{ path('deletressource', {'id': ressource.id}) }}">Supprimer</a></span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

