{% extends 'base-back.html.twig' %}
{% block body %}
{% block title %}{% endblock %}
{{ form_start(form) }}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Modifier Ressource</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(form.TitreR) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(form.TypeR) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(form.url) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(form.categorie) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.submit) }}
                        {{ form_end(form) }}

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
