<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title> VieCoaching |{% block title %} Admin Dashboard{% endblock %}  </title>
    <!-- Favicon icon -->
    <link rel="icon" type="{{asset('back-office/image/png')}}" sizes="16x16" href="{{asset('back-office/images/favicon.png')}}">
    <link rel="stylesheet" href="{{asset('back-office/vendor/owl-carousel/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('back-office/vendor/owl-carousel/css/owl.theme.default.min.css')}}">
    <link href="{{asset('back-office/vendor/jqvmap/css/jqvmap.min.css')}}" rel="stylesheet">
    <link href="{{asset('back-office/css/style.css')}}" rel="stylesheet">



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    
        
            Content body start
        ***********************************-->
        <div class="content-body">
        {%block body%}

          
            {% endblock %}
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p> 
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{{asset('back-office/vendor/global/global.min.js')}}"></script>
    <script src="{{asset('back-office/js/quixnav-init.js')}}"></script>
    <script src="{{asset('back-office/js/custom.min.js')}}"></script>


    <!-- Vectormap -->
    <script src="{{asset('back-office/vendor/raphael/raphael.min.js')}}"></script>
    <script src="{{asset('back-office/vendor/morris/morris.min.js')}}"></script>


    <script src="{{asset('back-office/vendor/circle-progress/circle-progress.min.js')}}"></script>
    <script src="{{asset('back-office/vendor/chart.js/Chart.bundle.min.js')}}"></script>

    <script src="{{asset('back-office/vendor/gaugeJS/dist/gauge.min.js')}}"></script>

    <!--  flot-chart js -->
    <script src="{{asset('back-office/vendor/flot/jquery.flot.js')}}"></script>
    <script src="{{asset('back-office/vendor/flot/jquery.flot.resize.js')}}"></script>

    <!-- Owl Carousel -->
    <script src="{{asset('back-office/vendor/owl-carousel/js/owl.carousel.min.js')}}"></script>

    <!-- Counter Up -->
    <script src="{{asset('back-office/vendor/jqvmap/js/jquery.vmap.min.js')}}"></script>
    <script src="{{asset('back-office/vendor/jqvmap/js/jquery.vmap.usa.js')}}"></script>
    <script src="{{asset('back-office/vendor/jquery.counterup/jquery.counterup.min.js')}}"></script>


    <script src="{{asset('back-office/js/dashboard/dashboard-1.js')}}"></script>

</body>

</html>