{% extends 'base-back.html.twig' %}

{% block body %}
    <style>
        body {
            background-image: url('{{ asset('images/image3.jpg') }}');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .card {
            background-color: rgba(255, 255, 255, 0.8);
            align-items: center;
        }
    </style>

    {% block title %}{% endblock %}

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Liste des commentaires</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Contenu</th>
                            <th>Date de création</th>
                            <th>Rubrique</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in commentaire %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.contenu }}</td>
                                <td>{{ i.DateCreation | date }}</td>
                                <td>{{ i.rubrique is not empty ? i.rubrique : '' }}</td>
                                <td><span class="badge badge-danger"><a href="{{ path('delete_commentaire', {'id': i.id}) }}">Supprimer</a></span></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('add_commentaire',{'id': rubrique.id}) }}" class="btn btn-primary">Ajouter un commentaire</a>
            </div>
        </div>
    </div>

{% endblock %}
