{% extends 'base-back.html.twig' %}
{% block body %}
    <style>
        body {
            background-image: url('{{ asset('images/image4.jpg') }}');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .card {
            background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value (fourth parameter) for transparency */
        }
    </style>
{% block title %}{% endblock %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Liste des rubriques</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>titre</th>
                        <th>contenu</th>
                        <th>dateCreation</th>
                        <th>datePublication</th>
                        <th>etat</th>
                        <th>commentaires</th>
                        <th>Modififier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in rubrique %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.titre }}</td>
                        <td>{{ i.contenu }}</td>
                        <td>{{ i.dateCreation | date }}</td>
                        <td>{{ i.datePublication | date }}</td>
                        <td>{{ i.etat }}</td>
                        <td><span class="badge badge-primary"><a href="{{ path('edit_rubrique', {'id': i.id}) }}">Modifier</a></span></td>
                        <td><span class="badge badge-danger"><a href="{{ path('delete_rubrique', {'id': i.id}) }}">Supprimer</a></span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}