{% extends 'base-back.html.twig' %}
{% block body %}
    {% block title %} Add {% endblock %}
    {{ form_start(form) }}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Ajouter categorie</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <div class="form-group">
                    {{ form_label(form.nomCategorie) }}
                    {{ form_widget(form.nomCategorie, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.ressources) }}
                    {{ form_widget(form.ressources, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
