{% extends 'base-back.html.twig' %}
{% block body %}
{% block title %}{% endblock %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Liste des Catégories</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th>idC</th>
                        <th>Nom de la categorie</th>
                        <th>Nom de la ressource</th>
                        <th>Modification</th>
                        <th>Supprision</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categorie in cat %}
                    <tr>
                        <td>{{ categorie.id }}</td>
                        <td>{{ categorie.nomCategorie }}</td>
                        <td>
                            {% for ressource in categorie.ressources %}
                                {{ ressource.TitreR }}
                            {% endfor %}
                        </td>
                        <td><span class="badge badge-primary"><a href="{{ path('editcategorie', {'id': categorie.id}) }}">Modifier</a></span></td>
                        <td><span class="badge badge-danger"><a href="{{ path('deletcategorie', {'id': categorie.id}) }}">Supprimer</a></span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
