{% extends 'base-back.html.twig' %}
{% block body %}
<head>

    <style>
     .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.card {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-header {
    background-color: #f5f5f5;
    padding: 10px;
}

.card-title {
    margin: 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f5f5f5;
}

        
</style>
</head>
<body>
    {% block title %}{% endblock %}

{{ form_start(form) }}
        {{ form_row(form.nomCategorie) }}
        {{ form_row(form.rechercher) }}
{{ form_end(form) }}
    <div class="container">
        <a href="{{ path('addcategorie') }}" class="button">Ajouter Catégorie</a>

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Liste des Catégories</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom de la catégorie</th>
                                <th>Nom de la ressource</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th>Modification</th>
                                <th>Suppression</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for categorie in cat %}
                                <tr>
                                    <td>{{ categorie.id }}</td>
                                    <td>{{ categorie.nomCategorie }}</td>
                                    <td>{{ categorie.ressource }}</td>
                                    <td>{{ categorie.description }}</td>
                                    <td>{{ categorie.image }}</td>
                                    <td style="text-align: center;">
                                        <a href="{{ path('editcategorie', {'id': categorie.id}) }}">
                                            <img src="{{ asset('images/modifie.png') }}" style="width: 22px; height: 22px;">
                                        </a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="{{ path('deletcategorie', {'id': categorie.id}) }}">
                                            <img src="{{ asset('images/supprimer.png') }}" style="width: 22px; height: 22px;">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}