{% extends 'base-back.html.twig' %}
{% block body %}
<head>

    <style>
        .button {
            background-color: #4CAF50; /* couleur de fond */
            border: none; /* suppression de la bordure */
            color: white; /* couleur du texte */
            padding: 15px 32px; /* espace de remplissage */
            text-align: center; /* alignement du texte */
            text-decoration: none; /* suppression de la décoration du texte */
            display: inline-block; /* affichage en ligne */
            font-size: 16px; /* taille de la police */
            margin: 4px 2px; /* marge extérieure */
            cursor: pointer; /* curseur de souris */
            border-radius: 10px; /* arrondi des coins */
        }
    </style>
</head>
<body>
<button class="button"><a href="{{ path('addcategorie')}}">Ajouter Categorie</a></button>
    {% block title %}{% endblock %}
</button>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Liste des Catégories</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th>idC</th>
                        <th>Nom de la categorie</th>
                        <th>Nom de la ressource</th>
                        <th>Modification</th>
                        <th>Supprision</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categorie in cat %}
                    <tr>
                        <td>{{ categorie.id }}</td>
                        <td>{{ categorie.nomCategorie }}</td>
                        <td>{{categorie.ressource}}</td>
                        <td><span class="badge badge-primary"><a href="{{ path('editcategorie', {'id': categorie.id}) }}">Modifier</a></span></td>
                        <td><span class="badge badge-danger"><a href="{{ path('deletcategorie', {'id': categorie.id}) }}">Supprimer</a></span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
